.vscode
caja
cef_user_data
celluloid
Code
configstore
dconf
enchant
evolution
gedit
gnome-session
google-chrome
htop
ibus
Kingsoft
libreoffice
Mousepad
mpv
nautilus
pdfarranger
pulse
smplayer
systemd
Thunar
tint2
vlc
x-tile
xed
xfce4
xviewer
.gsd-keyboard
kactivitymanagerdrc
kglobalshortcutsrc
*.diff
mimeapps.list
okular*
pavucontrol.ini
QtProject.conf
user-dirs.*
gtk*/bookmarks
.gsd-keyboard.settings-ported
autorandr/*/